<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bike Wash Customer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
				<key>dateExpires</key>
				<string>2020/6/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9854A503BFF60C932AC197590259E6760CAA9601</string>
						<key>dateExpires</key>
						<string>2020/6/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CF75X3X59A</string>
						<key>name</key>
						<string>Gilbert Dick</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CF75X3X59A.com.cv.bwc</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CF75X3X59A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Bike Wash Customer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>45052a81-70fa-462b-b892-cf6ef1cfacf0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cv.bwc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CF75X3X59A</string>
				<key>name</key>
				<string>Gilbert Dick</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
